doctype html
html
  head
    title Retusa GUI (demo)
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="icon" type="image/x-icon" href="./media/favicon.ico")
    link(rel="stylesheet" href="./retusa-gui.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.21.4/bootstrap-table.min.css" integrity="sha512-vaPSEKPBIWEWK+pGIwdLnPzw7S2Tr6rYVT05v+KN89YVpEJavFiY1dPzT+e1ZeyizjEPBicVxJ5QixXZw0Nopw==" crossorigin="anonymous" referrerpolicy="no-referrer")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.21.4/bootstrap-table.min.js" integrity="sha512-rZAhvMayqW5e/N+xdp011tYAIdxgMMJtKxUXx7scO4iBPSUXAKdkrKIPRu6tLr0O9V6Bs9QujJF3MqmgSNfYPA==" crossorigin="anonymous" referrerpolicy="no-referrer")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/izitoast@1.4/dist/css/iziToast.min.css" integrity="sha256-f6fW47QDm1m01HIep+UjpCpNwLVkBYKd+fhpb4VQ+gE=" crossorigin="anonymous")
    //link(rel="stylesheet" href="./node_modules/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.min.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/treeflex@2.0/dist/css/treeflex.min.css")
    //link(href="./node_modules/multiple-select/dist/themes/bootstrap.min.css" rel="stylesheet")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous")    
    script(src="https://cdn.jsdelivr.net/npm/izitoast@1.4/dist/js/iziToast.min.js" integrity="sha256-321PxS+POvbvWcIVoRZeRmf32q7fTFQJ21bXwTNWREY=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.21.4/bootstrap-table-locale-all.min.js" integrity="sha512-WN3tYK66M3JXI+AXFav6BvHr7ETAj1sDfmvGV2vCZRWTxHD5kUKduEG92P7/OE3K5nsQ24BqUnBVmyCkpXt3/g==" crossorigin="anonymous" referrerpolicy="no-referrer")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.umd.min.js" integrity="sha512-TJ7U6JRJx5IpyvvO9atNnBzwJIoZDaQnQhb0Wmw32Rj5BQHAmJG16WzaJbDns2Wk5VG6gMt4MytZApZG47rCdg==" crossorigin="anonymous" referrerpolicy="no-referrer")
    script(src="https://cdn.jsdelivr.net/npm/@sgratzl/chartjs-chart-boxplot@4.2.0/build/index.umd.min.js" integrity="sha256-lZ42RHZULOoTAiaHBcds7rTHWPABtn9tMXZ84Z9W9bw=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js" integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ==" crossorigin="anonymous" referrerpolicy="no-referrer")
    script(src="https://cdn.sheetjs.com/xlsx-0.19.2/package/dist/xlsx.full.min.js")
    script(src="https://kit.fontawesome.com/53e6813db7.js" crossorigin="anonymous")
    script(type="text/javascript" src="./bundle.min.js" charset="UTF-8")
    script(src="./locales-bundle.js")
    script(src="./locale.js")
    script(src="./addons.js")
    script(src="./test-tables.js")
    script(src="./source.js")
    script(src="./index.js")
    
    //include resources-local.pug
  body
    #splash
      img.logo(src='./media/retusa-logo-v1-main.png' alt='Retusa loading')        
    ul#workspace.nav.nav-tabs(role='tablist')
      li.nav-item.dropdown
        button.btn(type='button' data-bs-toggle='offcanvas' data-bs-target='#setting_canvas' aria-controls='setting_canvas' style="height: 100%; color: gray;")
          i.fa-solid.fa-gear.fa-xl
      li.nav-item(role='presentation' tab-target="table")
        button#table-tab.nav-link(data-bs-toggle='tab' data-bs-target='#table-tab-pane' type='button' role='tab' aria-controls='table-tab-pane' aria-selected='false' __text="p9wW") Tabulka
      li.nav-item(role='presentation' tab-target="analysis")
        button#analysis-tab.nav-link(data-bs-toggle='tab' data-bs-target='#analysis-tab-pane' type='button' role='tab' aria-controls='analysis-tab-pane' aria-selected='false' __text="jHc3") Analýza
      li.nav-item(role='presentation' tab-target="output")
        button#output-tab.nav-link(data-bs-toggle='tab' data-bs-target='#output-tab-pane' type='button' role='tab' aria-controls='output-tab-pane' aria-selected='false' __text="slEd") Výsledky
      li.nav-item.logo-tab
        a(href="https://www.muvs.cvut.cz/" target="_blank" style="margin-right: 20px;")
          img(src='./media/muvs_logo.png' height='30' alt='MÚVS ČVUT')
        a(href="https://github.com/muzikp/retusa" target="_blank")
          img(src='./media/retusa-logo-v1-main.png' height='30' alt='Retusa')        
    #tabContent.tab-content
      #table-tab-pane.tab-pane.fade(role='tabpanel' aria-labelledby='table-tab' tabindex='0')
        #table-toolbar
          .group
            button#toggle-table-filter.btn()
            input#table-name.form-control(type="text" maxLength = 64 placeholder = "název tabulky (nepovinné)" style="padding-right: 15px;" __placeholder="olVb")
          .group.right
            button.btn.bg-dark-green(data-source-action="open" __title="NJtB")
              i.fa-solid.fa-folder-open.btn-icon-before
              div(__text="IGp6") otevřít
            button.btn.bg-dark-blue(data-source-action="save" __title="VIKJ")
              i.fa-sharp.fa-solid.fa-download.btn-icon-before
              div(__text="pp1D") uložit
            button.btn.bg-dark-orange(data-source-action="import" __title="14Pp")
              i.fa-solid.fa-file-excel.btn-icon-before
              div(__text="9XCa") importovat
        #table(data-show-export="true" data-toggle="table" data-formatter="nullFormatter" data-ajax="matrixAJAX" data-side-pagination="server")
      #analysis-tab-pane.tab-pane.fade(role='tabpanel' aria-labelledby='analysis-tab' tabindex='0')
        #matrix-method-tree.tf-tree.example
          ul
            li
              span.analytic-group
                .analytics-header.bg-light-green(__text="jWUh") Zkoumání závislosti
                ul
                  li
                    span.tf-nc.tf-inter-node(__text="FwrQ") Regrese
                    ul
                      li
                        span.tf-nc(data-target = "linreg")
                  li
                    span.tf-nc.tf-inter-node(__text="nLWw") Korelace
                    ul                      
                      li
                        span.tf-nc(data-target = "correlMatrix")
                      li
                        span.tf-nc.tf-inter-node(__text="zvOH") Spojitá
                        ul
                          li
                            span.tf-nc(data-target = "correlPearson")                            
                          li
                            span.tf-nc(data-target = "correlPartial")
                      li
                        span.tf-nc.tf-inter-node(__text="GbVb") Pořadová
                        ul
                          li
                            span.tf-nc(data-target = "correlSpearman")     
                          li
                            span.tf-nc(data-target = "correlGamma")                           
                          li
                            span.tf-nc(data-target = "correlKendall")
                      li
                        span.tf-nc.tf-inter-node(__text="xwb8") Smíšená
                        ul
                          li
                            span.tf-nc(data-target = "correlBiserial")
          ul
            li
              span.analytic-group
                .analytics-header.bg-light-blue(__text="efo6") Zkoumání rozdílů
                ul
                  li
                    span.tf-nc.tf-inter-node(__text="7hkv" __title="KJE6") Nezávislé vzorky
                    ul
                      li
                        span.tf-nc.tf-inter-node(__text="Jc0a")
                        ul
                          li
                            span.tf-nc(data-target = "ttestind")
                          li
                            span.tf-nc(data-target = "welchttest")
                          li
                            span.tf-nc(data-target = "mwu")
                          li
                            span.tf-nc(data-target = "wcxind")
                      li
                        span.tf-nc.tf-inter-node(__text="oJOn")
                        ul
                          li
                            span.tf-nc(data-target = "anovaow")
                          li
                            span.tf-nc(data-target = "anovatw")                          
                          li
                            span.tf-nc(data-target = "kwanova")
                  li
                    span.tf-nc.tf-inter-node(__text="l4D6" __title="XWJe") Závislé vzorky
                    ul
                      li
                        span.tf-nc.tf-inter-node(__text="Jc0a")
                        ul                      
                          li
                            span.tf-nc(data-target = "ttestpair")
                          li
                            span.tf-nc(data-target = "wcxpair")
                      li
                        span.tf-nc.tf-inter-node(__text="oJOn")
                        ul
                          li
                            span.tf-nc(data-target = "anovaowrm")
                          li
                            span.tf-nc(data-target = "friedman")
          ul
            li
              span.analytic-group
                .analytics-header.bg-light-red(__text="ZdDF") Smíšené modely
                ul
                  li
                    span.tf-nc.tf-inter-node(__text="N926") Obecné lineární modely
                    ul
                      li
                        span.tf-nc(data-target = "ancova")
          ul
            li
              span.analytic-group
                .analytics-header.bg-light-orange(__text="5LFN") Analýza nominálních dat
                ul
                  li
                    span.tf-nc(data-target="contingency")
                  li
                    span.tf-nc.in-backlog() ...
      #output-tab-pane.tab-pane.fade(role='tabpanel' aria-labelledby='output-tab' tabindex='0')
        #output-container.accordion-body.col-12
    #modal_vector_analysis_form.modal(tabindex='-1')
      .modal-dialog
        .modal-content
          .modal-header
            .method-title
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
    #modal_matrix_analysis_form.modal(tabindex='-1')
      .modal-dialog
        .modal-content
          .modal-header
            .method-title
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
    #modal_xls_sheet_select.modal(tabindex='-1')
      .modal-dialog
        .modal-content
          .modal-header
            h5.modal-title(__text="lvVp")
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
            .selector
            br
            .form-check.form-switch
              input.headers-in-first-row.form-check-input(type='checkbox' role='switch' checked="true")
              label.form-check-label(__text="WVtB")
          .modal-footer
            button.confirm.btn.btn-primary(type='button' __text="LoPp")
    #modal_xls_vector_config.modal(tabindex='-1')
      .modal-dialog
        .modal-content
          .modal-header
            h5.modal-title Nastavení proměnných
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body    
          .modal-footer
            button.prev.btn.btn-secondary(type='button') Zpět
            button.confirm.btn.btn-primary(type='button') Dokončit
    #modal_vector_config.modal(tabindex='-1')
      .modal-dialog
        form#vector-config(action="javascript:void(0)").modal-content
          .modal-header
            h5.modal-title(__text="LIgE") Konfigurace proměnné
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
              .mb-3
                label.form-label(__text="dEUA") Název proměnné
                input.form-control(type='text' name = "name" required __placeholder="7Snv")
              hr
              .mb-3
                label.form-label(__text="Hpvt") Převést na
                .form-check
                  input.form-check-input(type='radio' data-type = 1 name='type')
                  label.form-check-label(__text="uSNK") numerickou proměnnou
                .form-check
                  input.form-check-input(type='radio' data-type = 2 name='type')
                  label.form-check-label(__text="2Gws") textovou proměnnou
                .form-check
                  input.form-check-input(type='radio' data-type = 3 name='type')
                  label.form-check-label(__text="zzCx") binární proměnnou
          .modal-footer
            button.confirm.btn.btn-primary(type='submit' __text="T5kQ") Potvrdit
    #modal_vector_filter.modal(tabindex='-1')
      .modal-dialog
        form#vector-filter(action="javascript:void(0)").modal-content
          .modal-header
            h5.modal-title(__text="wUpp") Filtr proměnné
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
              .selectable-filters
                .mb-3
                  label.form-label(__text="qhDX") Vyberte hodnoty
                  select.form-select(name = "filter" multiple data-filter-type = "select")
              .numeric-filters.flex
                .col-20p
                  input.form-control(name="minv" step = 0.0000000001 placeholder = "-∞" type="number")
                .col-20p
                  select.lean.form-select(name="minop" required)
                    option(value = 1) >
                     option(value = 2) ≥
                .col-20p(__text="aIXW" style="text-align:center; font-size: 1.3rem;")
                .col-20p
                  select.lean.form-select(name="maxop" required)
                    option(value = 3) <
                     option(value = 4) ≤
                .col-20p
                  input.form-control(name="maxv" step = 0.00000000001 placeholder = "+∞" type="number")
              .function-filters
                hr
                label(__title = "rUU0" __text="Vrsl")
                textarea.form-control(name = "fn" spellcheck=false rows = 5 __placeholder = "n0Z5")
          .modal-footer
            button.btn.btn-secondary(type='submit' data-action = "clear" __text="EToU" __title="x2HR")
            button.btn.btn-primary(type='submit' data-action="confirm" __text="T5kQ")
    #setting_canvas.offcanvas.offcanvas-start(tabindex='-1' aria-labelledby='setting_canvasLabel')
      .offcanvas-header
        h5#setting_canvasLabel.offcanvas-title(__text="EP1G") Nastavení
        button.btn-close(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
      .offcanvas-body
        .card
          .row
            .col-6
              button.btn(data-language="cs-CZ" title="Kliknutím změníte jazyk na češtinu")
                img(src="https://flagcdn.com/w40/cz.png" height = 17.5 alt='čeština')
              button.btn(data-language="en-GB" title="Click to switch for English")
                img(src="https://flagcdn.com/w40/gb.png" width=35 alt='English')
        .card
          .card-header(__text="iMJ6") Nastavení výstupů
          .card-body
            table.table.implicit.table-borderless
              tbody 
                tr
                  td(__text="KUzA") zobrazovat informace o vzorku
                  td
                    .form-check.form-switch
                      input.form-check-input(data-settings-output-switch="showOutputSampleInfo" type='checkbox' role='switch')
                tr
                  td(__text="hYRC") zobrazovat informace o parametrech
                  td
                    .form-check.form-switch
                      input.form-check-input(data-settings-output-switch="showOutputParamsInfo" type='checkbox' role='switch')
                tr
                  td(__text="JyNT") zobrazovat popisky ukazatelů
                  td
                    .form-check.form-switch
                      input.form-check-input(data-settings-output-switch="showOutputNodeTitle" type='checkbox' role='switch')
                tr
                  td(__text="dy7u") zobrazovat dobu výpočtu
                  td
                    .form-check.form-switch
                      input.form-check-input(data-settings-output-switch="showOutputDuration" type='checkbox' role='switch')
                tr
                  td(__text="9kTW") zobrazovat předvýpočetní úpravu dat
                  td
                    .form-check.form-switch
                      input.form-check-input(data-settings-output-switch="showOutputPreprocessor" type='checkbox' role='switch')
        .card
          .card-header(__text="LyfZ") Testovací datasety
          .card-body
            select#test-dataset-selector.form-select()
              option(value="correlmatrix" __text="mnd3")
              option(value="muvslinreg" __text="qHSu") 
              option(value="muvsanova1" __text="NHpy") 
              option(value="muvsanova2" __text="Lc2q")
              option(value="druganovaowrm" __text="420n")
              option(value="plantanovatw" __text="oEdN")
              option(value="muvscontingency1" __text="d7t0")
              option(value="kwanova1" __text="IWXW")
              option(value="ancova" __text="weRA")
            br
            .row
              .col-6
                button#test-dataset.btn.btn-info(__text="iTkC") Pouze data
              .col-6
                button#test-makro.btn.btn-success(__text="yG2T") Data a výpočet
        .card
          .card-header(__text="89XK") O aplikaci
          .card-body
            table.table.implicit.table-borderless
              tbody 
                tr
                  td(__text="DGvS") verze
                  td 1.0.8
                tr
                  td(__text="CjJk") autor
                  td
                    a(href="mailto:muzikp@gmail.com") Pavel Mužík
                tr
                  td
                    a(__href="2aMA" __text="3nNX" __target="_blank")
                