html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Retusa GUI (demo)
    link(rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css" integrity="sha512-O03ntXoVqaGUTAeAmvQ2YSzkCvclZEcPQu1eqloPaHfJ5RuNGiS4l+3duaidD801P50J28EHyonCV06CUlTSag==" crossorigin="anonymous" referrerpolicy="no-referrer")
    link(rel="stylesheet" type="text/css" href="https://unpkg.com/bootstrap-table@1.21.2/dist/extensions/filter-control/bootstrap-table-filter-control.css")
    link(href="https://unpkg.com/treeflex/dist/css/treeflex.css" rel="stylesheet")
    link(href="https://unpkg.com/multiple-select@1.5.2/dist/themes/bootstrap.min.css" rel="stylesheet")
    link(rel="stylesheet" href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css")
    script(src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous")
    script(type="text/javascript" src="c:/Users/Pavel/github/retusa/dist/bundle.min.js" charset="UTF-8")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous" referrerpolicy="no-referrer")    
    script(src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js")
    script(src="https://unpkg.com/bootstrap-table@1.21.2/dist/locale/bootstrap-table-cs-CZ.min.js")
    script(src="https://unpkg.com/bootstrap-table@1.21.2/dist/extensions/filter-control/bootstrap-table-filter-control.js")
    script(src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer")
    script(src="https://cdn.jsdelivr.net/npm/chart.js@4.2.0/dist/chart.umd.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js" integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ==" crossorigin="anonymous" referrerpolicy="no-referrer")
    script(lang="javascript" src="https://cdn.sheetjs.com/xlsx-0.19.2/package/dist/xlsx.full.min.js")
    script(src="./chart.js")
    script(src="./source.js")
    script(src="./index.js")

  body
    nav#top.navbar.navbar-light.bg-light.sticky-top
      a.navbar-brand(href='#top')
        img(src='./media/retusa-logo-v1-main.png' height='50' alt='Retusa' style="margin: 10px 20px;")
    ul#workspace.nav.nav-tabs(role='tablist')
      li.nav-item(role='presentation' tab-target="source")
        button#source-tab.nav-link.active(data-bs-toggle='tab' data-bs-target='#source-tab-pane' type='button' role='tab' aria-controls='source-tab-pane' aria-selected='true') Zdroje
      li.nav-item(role='presentation' tab-target="table")
        button#table-tab.nav-link(data-bs-toggle='tab' data-bs-target='#table-tab-pane' type='button' role='tab' aria-controls='table-tab-pane' aria-selected='false') Tabulka
      li.nav-item(role='presentation' tab-target="analysis")
        button#analysis-tab.nav-link(data-bs-toggle='tab' data-bs-target='#analysis-tab-pane' type='button' role='tab' aria-controls='analysis-tab-pane' aria-selected='false') Analýza
      li.nav-item(role='presentation' tab-target="output")
        button#output-tab.nav-link(data-bs-toggle='tab' data-bs-target='#output-tab-pane' type='button' role='tab' aria-controls='output-tab-pane' aria-selected='false') Výsledky
    #tabContent.tab-content
      #source-tab-pane.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='source-tab' tabindex='0')
        .source-container
          .buttons
            button.btn.btn-info(data-source-action="open") Otevřít
            button.btn.btn-info(data-source-action="save") Uložit
            button.btn.btn-info(data-source-action="paste" data-bs-toggle="modal" data-bs-target="#modal_paste_editor") Vložit data            
            button.btn.btn-info(data-source-action="import") Importovat
          .last-files
      #table-tab-pane.tab-pane.fade(role='tabpanel' aria-labelledby='table-tab' tabindex='0')
        input#table-name.form-control(type="text" maxLength = 64 placeholder = "název tabulky (nepovinné)")
        #table(data-filter-control="true" data-filter-control-multiple-search data-show-search-clear-button="true" data-formatter="nullFormatter" data-ajax="matrixAJAX" data-side-pagination="server")
      #analysis-tab-pane.tab-pane.fade(role='tabpanel' aria-labelledby='analysis-tab' tabindex='0')
        #matrix-method-tree.tf-tree.example
          ul
            li
              span.tf-nc Korelace
              ul
                li
                  span.tf-nc Spojitá
                  ul
                    li
                      span.tf-nc(data-target = "correlPearson")
                    li
                      span.tf-nc(data-target = "correlPartial")
                li
                  span.tf-nc Pořadová
                  ul
                    li
                      span.tf-nc(data-target = "correlSpearman")
                    li
                      span.tf-nc(data-target = "correlKendall")
                li
                  span.tf-nc(data-target = "correlBiserial")
          ul
            li
              span.tf-nc ANOVA
          ul
            li
              span.tf-nc(data-target="contingency")
      #output-tab-pane.tab-pane.fade(role='tabpanel' aria-labelledby='output-tab' tabindex='0')
        #output-container.accordion-body.col-12
    #modal_paste_editor.modal(tabindex='-1')
      .modal-dialog
        .modal-content
          .modal-header
            h5.modal-title Vložit data
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
            p Zkopírujte tabulku v Excelu a vložit jí do pole níže pomocí CTRL+V. Pak stiskněte pokračovat.
            br
            .form-check
              input#pasted-data-has-headers.form-check-input(type='checkbox' value='')
              label.form-check-label(for='pasted-data-has-headers')
                | data obsahují záhlaví
            textarea#pasted-data.form-control(rows = 20)
              | číslo	text	binární
              | 15	Pavel	PRAVDA
              | 12,3	Petr	PRAVDA
              | 79	Miloš	NEPRAVDA
              | 54	Eman	
              | -4	Josef	0
              | -19	Holý	1
          .modal-footer
            button#confirm-paste.btn.btn-primary(type='button') Pokračovat
    #modal_paste_config.modal(tabindex='-1')
      .modal-dialog
        .modal-content
          .modal-header
            h5.modal-title Vložit data
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
            p Upřesněte typ proměnných, případně změňte název.
            br
            table.table()
              thead
                tr
                  th název proměnné
                  th typ proměnné
              tbody#pasted-data-config-table
          .modal-footer
            button#confirm-paste-previous.btn.btn-secondary(type='button') Zpět
            button#confirm-pasted-config.btn.btn-primary(type='button') Pokračovat
    #modal_vector_analysis_form.modal(tabindex='-1')
      .modal-dialog
        .modal-content
          .modal-header
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
    #modal_matrix_analysis_form.modal(tabindex='-1')
      .modal-dialog
        .modal-content
          .modal-header
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
    #modal_xls_sheet_select.modal(tabindex='-1')
      .modal-dialog
        .modal-content
          .modal-header
            h5.modal-title Vyberte list
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
            .selector
            .form-check.form-switch
              input.headers-in-first-row.form-check-input(type='checkbox' role='switch')
              label.form-check-label() první sloupec tvoří záhlaví
          .modal-footer
            button.confirm.btn.btn-primary(type='button') Další
    #modal_xls_vector_config.modal(tabindex='-1')
      .modal-dialog
        .modal-content
          .modal-header
            h5.modal-title Nastavení proměnných
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body    
          .modal-footer
            button.prev.btn.btn-secondary(type='button') Zpět
            button.confirm.btn.btn-primary(type='button') Dokončit
  style. 
    .form-control-required:before {
      color: red;
      margin-right: 0.2rem;
      content: "*"
    }
    .form-control-tooltip:after {
      color: blue;
      content: "👁️‍🗨️",
      margin-left: 0.5rem;
    }
    .close-card {
      display: flex;
      justify-content: space-between;
    }
    .card {
      margin-top: 0.5rem;
    }
    .sample-info, .parameter-info {
      padding: 10px 20px;
      margin: 10px 0px;
      border: lightgray 1px solid;
      border-radius: 5px;
      font-size: 0.9rem;
    }
    th[data-field] {
        background-color: lightgray !important;
    }
    .bt-header-btn-panel {
        display: flex;
        border-bottom: solid black 1px;
        justify-content: flex-end;
        padd    ing: 10px 0px;

    }
    .bt-header-icon {
        padding: 0px;
        margin: 0px;
    }
    td[_title]:after {
        content: "💡";
    }
    .box-header {
      font-size: 1.2rem;
      color: blue;
      margin: 5px 0;
    }
    .canvas-layout .title {
      margin-top: 10px;
    }
    .tab-pane {
      padding: 2%;
    }
