@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/dracula.min.css");
/* colors */
.light-red {
  color: #e74f4f !important;
  background-color: transparent !important;
}

.light-blue {
  color: #51b0df !important;
  background-color: transparent;
}

.bg-light-green {
  background-color: #65cb9a !important;
  color: black !important;
}

.bg-dark-green {
  background-color: #2e9a71 !important;
  color: white !important;
}

.bg-light-blue {
  background-color: #51b0df !important;
  color: black !important;
}

.bg-dark-blue {
  background-color: #018ac7 !important;
  color: white !important;
}

.bg-light-orange {
  background-color: #f4ba6c !important;
  color: black !important;
}

.bg-dark-orange {
  background-color: #ec8906 !important;
  color: white !important;
}

.bg-light-red {
  background-color: #e74f4f !important;
  color: black !important;
}

.bg-dark-red {
  background-color: #b01818 !important;
  color: white !important;
}

/* table styling */
#table :not(caption) > * > * {
  padding: 0px auto;
}
#table td {
  padding: 0px 5px !important;
  border-bottom: 1px lightgray solid;
  background-color: white !important;
}
#table .index-cell {
  font-style: italic;
  background-color: var(--bs-gray-100) !important;
  text-align: center;
}

#workspace {
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color: white;
}

.form-control-required:before {
  color: #b01818;
  margin-right: 0.2rem;
  content: "*";
}

.form-control-tooltip:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "";
  color: lightgray !important;
  margin-left: 0.5rem;
}

.close-card {
  display: flex;
  justify-content: space-between;
}

.card-header {
  display: flex;
  max-width: 100% !important;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.card {
  margin-top: 0.5rem;
}

.sample-info, .parameter-info {
  padding: 10px 20px;
  margin: 10px 0px;
  border: lightgray 1px solid;
  border-radius: 5px;
  font-size: 0.9rem;
}

.bt-header-btn-panel {
  display: flex;
  border-bottom: solid black 1px;
  justify-content: flex-end;
  padding: 10px 0px;
}

.bt-header-icon {
  padding: 0px;
  margin: 0px;
}

td[_title]:after {
  content: "💡";
}

.box-header {
  color: black;
  margin: 5px 0;
  background-color: #51b0df;
  font-weight: 600;
  padding: 5px 10px;
  text-align: center;
  width: fit-content;
  border-radius: 7px;
}

.collapsed {
  visibility: collapse !important;
  height: 0 !important;
}

.canvas-layout .title {
  margin-top: 10px;
}

.tab-pane {
  padding: 2%;
}

.result-addon-table-container {
  margin: 1rem 0px;
}

.result-addon-table-container .table-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 3rem 0px 3rem 0px;
  width: 100%;
  padding: 5px;
  text-align: center;
  background-color: #51b0df;
  border-radius: 10px;
}

.method-title {
  font-size: 1.5rem;
  font-weight: 600;
  font-variant: all-small-caps;
  min-width: 25%;
}

.argument-badge-panel {
  display: flex;
  max-width: 75%;
  overflow: auto;
}

.argument-badge {
  font-family: monospace;
  background-color: #f4ba6c;
  padding: 5px;
  border-radius: 5px;
  margin-left: 10px;
  height: fit-content;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.duration {
  font-family: monospace;
  font-size: 0.8rem;
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.analytic-group {
  text-align: center;
  /*border: lightgray solid 1px;*/
  border-radius: 10px;
  font-weight: 600;
  padding-top: 20;
}

.analytics-header {
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  padding: 0% 2rem;
}

.tf-inter-node {
  font-style: italic !important;
  background-color: lightgray !important;
  border-radius: 50% !important;
}

.in-backlog {
  font-style: italic;
  font-weight: 100;
  color: brown;
  border: dashed 1px brown !important;
}

.context-menu {
  display: none;
  position: absolute;
}

th {
  z-index: 100 !important;
}

[data-vector-form-args-submit] {
  width: 100%;
}

[data-matrix-form-args-submit] {
  width: 100%;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
  text-decoration: underline;
  transform: rotate(-90deg);
}

[data-vector-analysis-trigger], .dropdown-item-button {
  padding: 0px !important;
}

.dropdown:hover > .dropdown-menu {
  display: block;
  left: 100%;
  bottom: -50%;
  margin-right: 10px;
}

.dropdown-item {
  display: inherit;
}

.dropdown-item:hover > .dropdown-menu {
  display: block;
}

ul li {
  list-style-type: none;
  display: inline;
}

.navbar-nav .nav-link {
  display: inline-block;
}

.nav-link {
  color: darkgray !important;
}

.ml-auto {
  display: inline-block !important;
}

.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}

.context-menu-header {
  font-weight: 600;
  padding-left: 10px;
  color: gray;
}

.th-numeric {
  background-color: rgba(81, 176, 223, 0.5) !important;
}
.th-numeric [data-filter] {
  color: #018ac7;
}
.th-numeric :first-child:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "#";
  color: #018ac7 !important;
  margin-right: 10px;
}

.th-string {
  background-color: rgba(101, 203, 154, 0.5) !important;
}
.th-string [data-filter] {
  color: #2e9a71;
}
.th-string :first-child:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "$";
  color: #2e9a71 !important;
  margin-right: 10px;
}

.th-boolean {
  background-color: rgba(244, 186, 108, 0.5) !important;
}
.th-boolean [data-filter] {
  color: #ec8906;
}
.th-boolean :first-child:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "";
  color: #ec8906 !important;
  margin-right: 10px;
}

[data-filter] .th-inner:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "";
  margin-left: 10px;
}

.nav-item {
  font-size: 1.3rem;
  color: gray;
}

.logo-tab {
  right: 10px;
  position: absolute;
  top: 9px;
}

.nav-link.active {
  color: #018ac7 !important;
  background-color: rgba(81, 176, 223, 0.25) !important;
  font-weight: 600 !important;
}

.nav-link .show {
  color: #018ac7 !important;
}

.col-20p {
  width: 20%;
  padding: 5px;
}

.flex {
  display: flex !important;
}

#toggle-table-filter {
  margin-right: 1rem !important;
  border: none !important;
  height: 100%;
}

#toggle-table-filter:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "";
  margin-right: 0.5rem;
}

#toggle-table-filter.on {
  background-color: #b01818 !important;
  color: white;
  font-style: normal;
}

#toggle-table-filter.off {
  background-color: lightgray !important;
  color: black;
  font-style: italic;
}

.btn-icon-before {
  margin-right: 10px;
}

#table-toolbar {
  display: flex;
  width: 100%;
  margin: 10px 0px;
}
#table-toolbar .group {
  display: flex;
  width: 50%;
}
#table-toolbar .left {
  justify-content: flex-start;
}
#table-toolbar .right {
  justify-content: flex-end;
}
#table-toolbar :not(:first-child) {
  padding-left: 20px;
}
#table-toolbar [data-source-action]:not(:last-child) {
  margin-right: 10px;
}

.tf-tree .analytic-group {
  width: 100%;
}
.tf-tree ul {
  width: 100%;
}
.tf-tree li {
  width: 100%;
}

#splash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white !important;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
#splash .logo {
  width: 35vw;
}

[data-source-action] {
  display: flex !important;
  align-items: center;
}
[data-source-action] div {
  padding: 0 !important;
}

table.implicit {
  width: auto !important;
  font-size: 0.9rem;
}
table.implicit td, table.implicit th {
  padding: 0.1rem 0.5rem;
}

.singular-output {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.node-name {
  font-weight: 600;
  font-family: var(--bs-font-monospace) !important;
  color: #b01818;
}

.node-title {
  font-style: italic;
  margin-left: 0.3rem;
  color: gray;
}

.modal.show {
  display: flex !important;
}

.single-value-result {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

.inline-function {
  display: flex;
  min-width: 50%;
  margin: 10px auto;
}
.inline-function .input-group.mb-3:not(:last-child) {
  margin-right: 2rem;
}

.inline-function-header {
  font-size: 1.3rem;
  font-weight: 600;
  font-family: var(--bs-font-monospace) !important;
}

.humanizer-container {
  display: flex;
  width: 100%;
  color: #2e9a71;
}

.humanizer-logo {
  font-size: 2rem;
  text-align: center;
  margin-right: 1rem;
}

.unstable:before {
  margin-right: 0.3rem;
  content: "⚠️";
}

.modal-dialog {
  width: 50%;
  min-width: 500px !important;
  margin: auto !important;
}

[data-matrix-analysis-form-trigger] {
  font-family: var(--bs-font-monospace) !important;
  font-size: 0.9rem !important;
  font-weight: 600 !important;
  color: #018ac7;
}

.v-center {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.result-addons {
  display: flex;
  flex-wrap: wrap;
  width: 100% !important;
}

.result-addons > div {
  margin-top: 20px;
}

.td-format-sig-3:after {
  content: "***";
  font-size: 0.8rem;
  color: #b01818;
  vertical-align: top;
  margin-left: 2px;
}

.td-format-sig-2:after {
  content: "**";
  font-size: 0.8rem;
  color: #b01818;
  vertical-align: top;
  margin-left: 2px;
}

.td-format-sig-1:after {
  content: "*";
  font-size: 0.8rem;
  color: #b01818;
  vertical-align: top;
  margin-left: 2px;
}

.td-format-sig-0 {
  font-style: italic;
  color: gray !important;
}

.code {
  font-family: var(--bs-font-monospace);
  font-size: inherit;
  color: var(--bs-code-color);
  word-wrap: break-word;
}

.chartjs-50p {
  width: 50% !important;
}

.chartjs-100p {
  width: 100% !important;
}

.formatter-selected {
  font-weight: 600;
}

.key-value-table {
  display: block;
}
.key-value-table .kvt-row {
  display: flex;
  width: 100%;
}
.key-value-table .kvt-row .c-m {
  width: 45%;
  padding: 2px;
}
.key-value-table .kvt-row .c-i {
  width: 10%;
}
.key-value-table input {
  margin-right: 10px;
}

.c-flex {
  justify-content: center;
  margin-top: 5px;
}

button.round {
  border-radius: 50%;
  width: auto;
}

.td-format-correl .negative {
  color: #b01818;
}
.td-format-correl .positive {
  color: #018ac7;
}

.td-format-correl .high {
  font-weight: 900;
}
.td-format-correl .medium {
  font-weight: 600;
}
.td-format-correl .small {
  font-weight: 300;
}
.td-format-correl .tiny {
  font-weight: 100;
}
.td-format-correl .none {
  font-style: italic;
  color: gray;
}

.td-format-isnan:text {
  content: "-";
}

[data-row-action] {
  padding: 0px !important;
}

[data-row-action]:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  margin-right: 1rem;
}

[data-row-action].remove:before {
  content: "";
  color: #e74f4f;
}

[data-row-action].insert:before {
  content: "+";
  color: #51b0df;
}

.editor {
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  font-weight: 400;
  height: 340px;
  letter-spacing: normal;
  line-height: 20px;
  padding: 10px;
  tab-size: 4;
}

#macro-console {
  width: 100%;
  display: block;
  margin-top: 20px;
  background-color: lightgray;
  color: black;
  overflow-y: scroll;
}
#macro-console .system {
  color: #018ac7;
}
#macro-console pre {
  margin: 0px !important;
  padding: 0px !important;
}
#macro-console .error {
  color: #b01818;
  font-style: italic;
}
#macro-console .log {
  display: flex;
  width: 100;
  font-size: 1.1rem;
}
#macro-console .log .timestamp {
  max-width: 25%;
  min-width: 5rem;
  display: block;
}
#macro-console .log .system {
  width: auto;
  font-weight: 600;
  display: block;
}

.console-error {
  color: red;
  font-style: italic;
}

[bootstrap-table-cell-input] {
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;
  background-color: transparent !important;
  border-radius: 0px !important;
  display: block;
  min-width: 0px !important;
  max-width: 100% !important;
}

@media only screen and (max-width: 600px) {
  .logo-tab {
    visibility: hidden;
  }
}